In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
filepath = "../onek1k/onek1k_eqtl_dataset.tsv"
cols_list = ("CELL_TYPE", "RSID", "GENE", "GENE_ID", "CHR", "POS", "A1", "A2", "A2_FREQ_ONEK1K", "A2_FREQ_HRC")

In [3]:
df = pd.read_csv(filepath, sep="\t", usecols=cols_list)
df.shape

(64374849, 10)

In [10]:
df["POS_DUMMY"] = df["POS"].astype("int64")
df["POS"] = (df["POS"]+1).astype("int64")

In [11]:
df_sorted = df[["CHR", "POS", "POS_DUMMY", "CELL_TYPE", "RSID", "GENE", "GENE_ID", "A1", "A2", "A2_FREQ_ONEK1K", "A2_FREQ_HRC"]]

In [12]:
df_sorted = df_sorted.rename(columns={"CHR": "#CHR"})
df_sorted.head()

,#CHR,POS,POS_DUMMY,CELL_TYPE,RSID,GENE,GENE_ID,A1,A2,A2_FREQ_ONEK1K,A2_FREQ_HRC
0,1,228660479,228660479,Naïve/Immature B Cell,rs10753447,ZNF678,ENSG00000181450,C,A,0.56128,0.539544
1,1,228660501,228660501,Naïve/Immature B Cell,rs10733022,ZNF678,ENSG00000181450,C,A,0.64639,0.636110
2,1,228660718,228660718,Naïve/Immature B Cell,rs10916322,ZNF678,ENSG00000181450,A,G,0.08485,0.096012
3,1,228660847,228660847,Naïve/Immature B Cell,rs10737431,ZNF678,ENSG00000181450,A,G,0.66112,0.664737
4,1,228661593,228661593,Naïve/Immature B Cell,rs10916323,ZNF678,ENSG00000181450,G,T,0.13318,0.147475

In [13]:
df_sorted.to_csv("../onek1k/onek1k_subset_columns.tsv", sep="\t", na_rep="NA", index=False)