In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
filepath = "/home/junkhann/daten/onek1k/onek1k_eqtl_dataset.tsv"
cols_list = ("CELL_TYPE", "RSID", "GENE", "GENE_ID", "CHR", "POS", "A1", "A2", "A2_FREQ_ONEK1K", "A2_FREQ_HRC")

In [3]:
df = pd.read_csv(filepath, sep="\t", usecols=cols_list)
df.shape

(64374849, 10)

In [8]:
df["position_code"] = df["CHR"].astype("str") + "-" + df["POS"].astype("str")

In [9]:
df.head()

,CELL_TYPE,RSID,GENE,GENE_ID,CHR,POS,A1,A2,A2_FREQ_ONEK1K,A2_FREQ_HRC,position_code
0,Naïve/Immature B Cell,rs10753447,ZNF678,ENSG00000181450,1,228660479.0,C,A,0.56128,0.539544,1-228660479.0
1,Naïve/Immature B Cell,rs10733022,ZNF678,ENSG00000181450,1,228660501.0,C,A,0.64639,0.636110,1-228660501.0
2,Naïve/Immature B Cell,rs10916322,ZNF678,ENSG00000181450,1,228660718.0,A,G,0.08485,0.096012,1-228660718.0
3,Naïve/Immature B Cell,rs10737431,ZNF678,ENSG00000181450,1,228660847.0,A,G,0.66112,0.664737,1-228660847.0
4,Naïve/Immature B Cell,rs10916323,ZNF678,ENSG00000181450,1,228661593.0,G,T,0.13318,0.147475,1-228661593.0

In [10]:
df["position_code"].nunique()

4842867