In [2]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [5]:
filepath = "../onek1k/onek1k_subset_columns.tsv"

In [6]:
df = pd.read_csv(filepath, sep="\t")
df.shape

(64374849, 11)

In [8]:
df["position_code"] = df["#CHR"].astype("str") + "-" + df["POS"].astype("str")

In [9]:
df.head()

,#CHR,POS,POS_DUMMY,CELL_TYPE,RSID,GENE,GENE_ID,A1,A2,A2_FREQ_ONEK1K,A2_FREQ_HRC,position_code
0,1,228660479,228660479,Naïve/Immature B Cell,rs10753447,ZNF678,ENSG00000181450,C,A,0.56128,0.539544,1-228660479
1,1,228660501,228660501,Naïve/Immature B Cell,rs10733022,ZNF678,ENSG00000181450,C,A,0.64639,0.636110,1-228660501
2,1,228660718,228660718,Naïve/Immature B Cell,rs10916322,ZNF678,ENSG00000181450,A,G,0.08485,0.096012,1-228660718
3,1,228660847,228660847,Naïve/Immature B Cell,rs10737431,ZNF678,ENSG00000181450,A,G,0.66112,0.664737,1-228660847
4,1,228661593,228661593,Naïve/Immature B Cell,rs10916323,ZNF678,ENSG00000181450,G,T,0.13318,0.147475,1-228661593

In [10]:
df["position_code"].nunique()

4842867

Aggregate CELL_TYPE, GENE and GENE_ID

In [12]:
df = df.drop(columns="position_code")

In [13]:
df.columns

Index(['#CHR', 'POS', 'POS_DUMMY', 'CELL_TYPE', 'RSID', 'GENE', 'GENE_ID',
       'A1', 'A2', 'A2_FREQ_ONEK1K', 'A2_FREQ_HRC'],
      dtype='object')

In [16]:
df_aggregated = df.groupby(["#CHR", "POS"]).agg({"#CHR": "first", "POS": "first", "POS_DUMMY": "first", "CELL_TYPE": lambda x: ','.join(x), "RSID": "first", "GENE": lambda x: set(x), "GENE_ID": lambda x: set(x), "A1": "first", "A2": "first", "A2_FREQ_ONEK1K": "first", "A2_FREQ_HRC": "first"}).reset_index(drop=True)
len(df_aggregated)

4842867

In [17]:
df_aggregated.head()

,#CHR,POS,POS_DUMMY,CELL_TYPE,RSID,GENE,GENE_ID,A1,A2,A2_FREQ_ONEK1K,A2_FREQ_HRC
0,1,729679,729679,"Naïve/Immature B Cell,Memory B Cell,CD4 Effect...",rs4951859,"{UBE2J2, RP11-206L10.9}","{ENSG00000160087, ENSG00000237491}",C,G,0.84121,0.816477
1,1,731718,731718,"Naïve/Immature B Cell,Memory B Cell,CD4 Effect...",rs142557973,{UBE2J2},{ENSG00000160087},T,C,0.11641,0.129366
2,1,734349,734349,"Naïve/Immature B Cell,Memory B Cell,CD4 Effect...",rs141242758,{UBE2J2},{ENSG00000160087},T,C,0.11530,0.128380
3,1,736289,736289,"Naïve/Immature B Cell,Memory B Cell,CD4 Effect...",rs79010578,{UBE2J2},{ENSG00000160087},T,A,0.12816,0.138882
4,1,752566,752566,"Naïve/Immature B Cell,Memory B Cell,CD4 Effect...",rs3094315,{UBE2J2},{ENSG00000160087},G,A,0.84074,0.819865

Write to new file

In [18]:
df_aggregated.to_csv(f"../onek1k/onek1k_aggregated.tsv", sep="\t", header=True, index=False)